<!--Collecting user data-->

<div class="form-container">
  <div class="form-group">
    <h2 for="noOfRounds">Number of Rounds..</h2>
    <input
      type="number"
      class="form-control"
      id="noOfRounds"
      name="noOfRounds"
      [(ngModel)]="noOfRounds"
    />
  </div>
  <div class="form-group">
    <h2 for="isChangeDoor">Do you want to swap doors?</h2>
    <select
      class="form-control"
      id="isChangeDoor"
      name="isChangeDoor"
      [(ngModel)]="isChangeDoor"
      >
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </div>
  <button class="form-submit" type="submit" (click)="onStart()">
    Start
  </button>
</div>

<!-- Display Results -->
<p class="display-result">
  {{ wins }} out of {{ noOfRounds }} simulations won.
</p>

<!-- Display Stimulations -->
<div class="flex-container">
  <div *ngFor="let image of doors; let i = index">
    <div *ngIf="image.selected; else notSelected" class="flex-box-selected">
      <div *ngIf="image.opened; else notOpened">
        <img [src]="image.imageURL" class="img-display-opened" />
      </div>
      <ng-template #notOpened>
        <img [src]="image.imageURL" class="img-display" />
      </ng-template>
    </div>
    <ng-template #notSelected>
      <div class="flex-box">
        <div *ngIf="image.opened; else notOpened">
          <img [src]="image.imageURL" class="img-display-opened" />
        </div>
        <ng-template #notOpened>
          <img [src]="image.imageURL" class="img-display" />
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>
